Dear ${contactPerson},<br>

Please ship following ASAP <br><br>
<b>Book Name: </b> &nbsp;${bookName}<br>
<b>Author: </b> &nbsp;${author}<br>
<br>
<br>
Regards,
<br><br>
Juzar Ali <br>
<b>Hotfix Solutions</b><br>
<br>
<br>
<br>
<br>
<br>