dl, dd {
	margin: 0;
	
}
dl {
	font-size:12px;
	width:auto
}
dt {
	background:#c8c1b5 url(../images/accordian_head_bg_grey.jpg) left top repeat-x;
	border-bottom:none;
	color:#333;
	cursor:pointer;
	padding:8px;
	font-size:12px;
	margin-top:2px;
	font-weight:bold;
}
.dt {
	background: #343435 url(../images/accordian_head_bg.jpg) left top repeat-x;
	border:solid 1px #000;
	border-bottom:none;
	color:#FFF;
	cursor:pointer;
	padding:8px;
}
dt.orangeBg {
	background:#BB520A url(../images/accordian_head_bg_orange.jpg) left top repeat-x;
	border-bottom:none;
	color:#fff;
	cursor:pointer;
	padding:8px;
	font-size:16px;
	margin-top:2px;
	font-weight:bold;
}
dt.lightGreyBg {
	background:#848484 url(../images/accordian_head_bg_light_grey.jpg) left top repeat-x;
	border-bottom:none;
	color:#fff;
	cursor:pointer;
	padding:8px;
	font-size:16px;
	margin-top:2px;
	font-weight:bold;
}
dd {
	background:#fff;
	border:solid 2px #333;
	border-top:none;
	padding:5px;
	margin:0px;
}
.accordianInner
{
	padding:10px;
}
.accordianInner h2
{
	font-size:18px;
	color:#333;
}
a.orange
{
	color:#b24811
}

table.mapLeftDetails tr td
{
	font-size:13px;
	padding:5px;
}
table.mapLeftDetails
{
	
}
table.formTable tr td
{
	font-size:13px;
	padding:2px;
}
table.formTable td.padRForm
{
	padding-right:10px;
}

table.calanderTable tr td
{
	font-size:13px;
	padding:4px;
	background-color:#ebf1f6;
	width:97px;
	vertical-align:top;
	text-align:center;
}
table.calanderTable th
{
	font-size:13px;
	text-align:center;
	font-weight:normal;
	color:#000;
}

table.calanderTable th.calanderBtn
{
	padding:3px;
}

table.calanderTable td.noInfo
{
	color:#666;
	font-style:italic;
}
table.calanderTable td.dayNgt
{
	width:32px;
	color:#1f58b3;
	font-weight:bold;
	font-size:14px;
	background-color:#fff;
	padding-top:15px;
}
.help
{
	padding-left:50px;
}
.leftInfo
{
	float:left;
	width:395px;
}
.rightInfo
{
	float:right;
	width:295px;
}

table.contactTable tr td
{
	color:#333;
	padding:2px;
}
.borderTop
{
	border-top:1px solid #6b665d;
	padding:10px;
}
.list_bg
{
	background:url(../images/list_head_bg.png) no-repeat left center;
	padding:10px 10px 8px 11px;
	color:#fff;
}
